header {
    position: absolute;
width: 1440px;
height: 171px;
left: 0px;
top: 18px;
background: #B7FFCB;
}
main {
    position: absolute;
width: 521px;
height: 797px;
left: 493px;
top: 208px;
background: rgba(255, 251, 158, 0.53);
}