body {
    background-color: rgb(236, 228, 216);
}

.price-info {
    opacity: 0;
    width: 250px;
    height: 25px;
    box-sizing: border-box;
    margin: 30px auto 0 auto;
    padding: 0 3px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: solid 0.5px silver;
    border-radius: 30px;
    color: silver;
}

.x-button {
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px silver;
    background-color: #fff;
}

.price-input {
    display: block;
    height: 30px;
    width: 250px;
    margin: 10px auto 0 auto;
    font-size: 25px;
    text-align: center;
    border: solid 1px rgb(185, 185, 185);
    box-shadow: 0 3px 3px rgba(112, 112, 112, 0.281);
}

.price-input:focus {
    outline: none;
}

.error-info {
    opacity: 0;
    margin-top: 10px;
    display: block;
    text-align: center;
    color: red;
}
