@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.header {
    background-image: url(../images/backgroung/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}
.header-logo-box {
    display: flex;
    align-items: center;
}
.header-logo {
    margin: 20px 27px;
}
.header-title-name {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.header-menu-list {
    display: flex;
    justify-content: center;
    line-height: 70px;
}
.header-menu-link {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    margin-right: 35px;
}
.header-menu-link:hover {
    color: #14B9D5;
}
.header-btn-search {
    height: 70px;
    width: 70px;
    background-color: #000;
    border: #313131;
}
.header-btn-search:hover {
    cursor: pointer;
}
.header-btn-search:active {
    border: solid 1px #14B9D5;
}
.fa-search {
    color: #fff;
}
.header-title {
    color: #fff;
    font-size: 27px;
    margin-top: 164px;
    font-weight: bold;
}
.header-btns {
    display: flex;
    justify-content: center;
}
.header-btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 16px 0px;
    margin: 45px 20px 75px;
    display: block;
    width: 170px;
}
.btn-subscribe {
    background-color: #89CA62;
    border-radius: 5px;
    display: block;
}
.btn-subscribe:hover {
    background-color: #8cce2f;
}
.btn-articles {
    background-color: #14B9D5;
    border-radius: 5px;
    display: block;
}
.btn-articles:hover {
    background-color: #09a1dd;
}
.main {
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}
.section-title {
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    padding: 50px 0px;
}
.main-posts-content { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}
.posts-imgs {
    display: flex;
    justify-content:space-between;
    width: 1170px;
}
.container {
    text-align: center;
}
.post-discription {
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    margin-bottom: 30px;
    color: #353A3D;
    font-weight: bold;
}
.clients-page {
    background-image: url(../images/backgroung/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}
.title-clients {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 108px 0 0;
}
.title-clients::after {
    content: "";
    border-bottom: solid 3px #18B4CF;
    display: block;
    width: 60px;
    margin: 90px auto 105px;
}
.clients-box {
    width: 880px;
    margin: 0 auto;
    padding-bottom: 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px;
}
.client-link {
    display: inline-block;
}
.top-rated-page {
    background-color: #fff;
    text-align: center;
}
.rated-imgs {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.rated-img {
    max-width: 100%;
}
.news-section {
    background-color: #fff;
    text-align: center;
}
.news-content {
    width: 1170px;
    margin: 0 auto 77px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.news-content-box {
    background-color: #F9F7F7;
}

.news-box-1 {
    grid-column: 1 / 4;
}
.news-box-3, .news-box-5 {
    grid-column: 1 / 3;
}
.news-box-4, .news-box-6 {
    grid-column: 3 / 5;
}
.news-box-8 {
    grid-column: 2 / 5;
}

.img-3, .img-4, .img-5, .img-6 {
    width: 100%;
}
.img-1, .img-8 {
    float: left;
}

.news-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 14.5px;
}
.only-title {
    padding-top: 15px;
}
.news-discription {
    font-size: 14px;
    font-weight: 600;
    color: #5B6469;
    line-height: 21px;
    padding-left: 15px;
}
.news-text {
    text-align: end;
}
.news-text-right {
    padding: 40px 25px 0 0;
}
.news-text-bottom {
    padding: 15px;
}
.news-hide {
    display: none;
}
.show-news-btn {
    width: 120px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 70px;
    background-color: #fff;
    border: solid 1px rgba(160, 160, 160, 0.753);
    border-radius: 20px;
    color: rgb(104, 104, 104);
}
.show-news-btn:hover {
    color: #09a1dd;
    border: solid 1px #18B4CF;
}
.scroll-btn {
    display: none;
    box-sizing: border-box;
    text-align: center;
    height: 35px;
    width: 40px;
    padding: 2px;
    text-decoration: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 25px;
    color: rgba(160, 160, 160, 0.753);
    border: solid 1px rgba(160, 160, 160, 0.753);
    cursor: pointer;
    border-radius: 50%;
}
.scroll-btn:hover {
    color: #09a1dd;
    border: solid 1px #18B4CF;
}
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: #000;
    padding: 30px 0;
}
.footer-copyright {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.logo-box {
    position: relative;
    padding-left: 41px;
}
.footer-link::before {
    content: url(../images/footer-logo/liot-logo.png);
    position: absolute;
    left: 0;
}
