body {
    background: rgb(182, 190, 196);
    background-image: url(./d5156642cdebf0bb5c49fb1af494accf.png);
    background-repeat: repeat;
}

.card-wrapper {
    width: 300px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.342);
    position: relative;
}

.user-name {
    display: inline-block;
    font-size: 14px;
    font-family: serif;
    font-weight: 700;
    border-bottom: solid 1px rgb(0, 0, 0);
}

.email {
    display: inline-block;
    font-family: serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(116, 116, 116);
}

.post-delete-button {
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: rgb(172, 172, 172);
    position: absolute;
    top: 7px;
    right: 7px;
}
.post-title {
    font-size: 20px;
    margin: 10px 0 0;
}

.post-text {
    font-size: 18px;
    color: rgb(41, 41, 41);
    border-top: solid 2px rgb(221, 221, 221);
    margin: 10px 0 0;
    padding-top: 7px;
}