body {
  background-color: #ffe4bd;
  font-family: 'Oswald', sans-serif;
}

.button {
  cursor: pointer;
  margin: 10px;
  padding: 15px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(70, 70, 70, 0.74);
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(56, 56, 56, 0.384);

  &:active {
    box-shadow: 0 1px 3px rgba(112, 112, 112, 0.74);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 11, 24, 0.767);
  
  &__wrapper {
    position: relative;
    width: 500px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.74);
    border-radius: 5px;
  }

  &__title {
    background-color: #00000028;
    margin: 0;
    font-size: 22px;
    padding: 15px;
    color: #fff;
    border-radius: 5px 5px 0 0;
  }

  &__text {
    margin: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }

  &__buttons-wrapper {
    text-align: center;
  }

  &__x-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__x-icon {
    width: 20px;
    height: 20px;
  }
}

.header {
  background-color: #fff;
  width: 1000px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(5, 5, 5, 0.302);
  border-radius: 10px 10px 0 0;

  &__logo {
    width: 150px;
    height: 60px;
  }

  &__title {
    font-family: 'Meow Script', cursive;
    margin: 0;
    margin-left: 35px;
    padding-top: 10px;
    box-sizing: border-box;
    color: #232122;
    font-size: 45px;
  }

  &__link {
    margin: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #232122;

    &:hover {
      color: #6DCDF6;
    }
  }
}

.content-wrapper {
  box-sizing: border-box;
  width: 1000px;
  min-height: 600px;
  margin: 0 auto 30px;
  text-align: center;
  background-color: #fff;
  padding: 25px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 5px rgba(5, 5, 5, 0.302);

  &__title {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    color: #232122;
  }
}

.products-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin: 5px;
  background-color: #fff;
  border: solid 1px rgb(235, 235, 235);
  box-shadow: 0px 2px 5px rgb(213, 213, 213);

  &__img {
    width: 120px;
  }

  &__title {
    color: #232122;
    font-size: 15px;
  }

  &__item {
    display: block;
    margin: 3px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(116, 116, 116);
  }

  &__info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__color-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__circle-color {
    height: 8px;
    width: 8px;
    border: solid 1px rgb(58, 58, 58);
    border-radius: 50%;
    margin-left: 10px;
  }

  &__buttons-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__icon-button {
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 20px;
  }
}