.footer {
    margin-top: 42px;
    padding: 38px 40px 47px;
    background-color: #000;
    text-align: center;
    color: $footer-text-color;
    font-family: $base-font;
    &__text {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__icons-wrapper {
        margin-bottom: 25px;
    }

    &__contacts-info {
        display: block;
        font-size: 14px;
        line-height: 24px;
    }
    
    &__link {
        text-decoration: none;
        color: $footer-text-color;
        display: block;
        font-size: 14px;
        line-height: 24px;
    }
}
.icon {
    margin: 5px;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 0;
        padding: 57px 100px 57px;
        &__text {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 22px;
        }
    
        &__contacts-info {
            display: inline-block;
            font-size: 16px;
            line-height: 26px;
        }
        
        &__link {
            text-decoration: none;
            color: $footer-text-color;
            display: inline-block;
            font-size: 16px;
            line-height: 26px;
        }
    }
}