.header {
    padding: 83px 25px 0;
    &__btn-menu {
        height: 44px;
        width: 37px;
        border: none;
        transform: rotate(90deg);
        background-color: #000;
        color: #fff;
        font-size: 17px;
        padding-bottom: 3px;
        font-weight: 700;
        position: absolute;
        top: 23px;
        right: 28px;
    }
    
    &__menu {
        display: inline-block;
        font-family: $base-font;
        font-size: 11px;
        font-weight: 400;
        line-height: 22px;
        list-style: none;
    }

    &__image {
        width: 100%;
    }
}
.header-btn {
    &__x-btn {
        position: absolute;
        top: 12px;
        left: 8px;
        width: 22px;
        &--disabled {
            display: none;
        }
    }
}
.header-menu {
    position: absolute;
    top: 52.5px;
    right: 24.5px;
    
    &__item {
        width: 182px;
        padding: 4.5px 13px;
        background-color: #F5F5F5;
        color: $base-font-color;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: #57A4A4;
            background-color: #E5E5E5;
        }
    }
    &--disabled {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 40px 85px 0;
        &__btn-menu {
            display: none;
        }
    }
    .header-menu {
        position: static;
        @include flex-space-between;
        padding: 0 60px 32px;
        
        &__item {
            width: auto;
            padding: 0;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }

}

@media (min-width: 1200px) {
    .header {
        padding: 45px 215px 0;
    }
    .header-menu {
        position: static;
        @include flex-space-between;
        padding: 0 150px 50px;
    }

}
