.main {
    font-family: $base-font;
    color: $base-font-color;
}
.section-title {
    margin: 38px 0 15px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    &--white {
        color: #fff;
        margin: 0 0 8px;
    }
}
.content-container {
    margin-left: 25px;
    padding: 10px 0 40px;
}
.item--display-m {
    display: none;
}
.item--display-l {
    display: none;
}
.content-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin: 11px 0 0 0;
}
.content-info {
    display: block;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: #7C7C7C;
    margin-bottom: 28.5px;
}
.images-container {
    margin-left: 25px;
}

@media (min-width: 768px) {
    .content-container {
        margin-left: 85px;
        padding: 10px 0 107px;
    }
    .content-wrapper {
        display: flex;
        margin-bottom: 32px;
    }
    .description-wrapper {
        margin-left: 20px;
    }
    .item--display-m {
        display: flex;
    }
    .content-title {
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }
    .section-title {
        margin: 55px 0 24px 85px;
        font-size: 16px;
        display: inline-block;
        &--subtitle {
            font-size: 13px;
            margin-left: 25vw;
        }
        &--white {
            color: #fff;
            margin: 0 0 22px;
        }
    }
    .item--display-s {
        display: none;
    }
    .content-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: $base-font-color;
    }
    .insta-section {
        background-color: rgb(0, 0, 0, 0.03);
        padding: 47px 0 50px 0px;
    }
    .images-container {
        margin: 0 85px 0 85px;
        display: inline-flex;
        justify-content: space-between;
    }
    .insta-img {
        width: (100% - 2%) / 3;
    }
}

@media (min-width: 1200px) {
    .content-container {
        margin-left: 215px;
        padding-bottom: 50px;
    }
    .content-container {
        @include flex-space-between;
        flex-wrap: wrap;
        width: 69%;
    }
    .content-img {
        width: 160px;
        height: 140px;
    }
    .section-title {
        margin: 55px 0 24px 215px;
        &--white {
            margin: 0 0 22px;
        }
        &--subtitle {
            margin-left: 35vw;
        }
    }
    .content-wrapper {
        width: 50%;
    }
    .content-info {
        margin-bottom: 0;
    }
    .content-description {
        margin: 10px 0;
    }
    .images-container {
        @include flex-space-between;
        margin: 0 215px 0 215px;
    }
    .item--display-l {
        display: inline-block;
    }
    .insta-img {
        width: (100% - 2%) / 4;
    }
}