.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    padding: 18px 79px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
}
.link {
    text-decoration: none;
    color: #fff;
}
.title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.title:hover {
    color: #01813F;
}
.icons-login-box {
    display: flex;
    align-items: center;
}
.icon-link {
    margin-right: 25px;
}
.icon-link:hover .icon-svg {
    fill: #01813F;
}
.welcome-text {
    margin-left: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.login-link:hover {
    color: #01813F;
}
.main {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../images/background/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100vw;
    height: 100vh;
    padding-top: 112px;
}
.signup-form {
    position: relative;
    width: 444px;
    margin: 0 auto;
    padding: 31px 60px 38px;
    box-sizing: border-box;
    background-color: #fff;
}
.square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 30px;
}
.signup-title {
    font-size: 20px;
    color: #434343;
    margin-right: 210px;
    display: inline-block;
    margin-bottom: 15px;
}
.login-form {
    font-size: 14px;
    color: #3CB878;
}
.login-form:hover {
    color: #01813F;
    text-decoration: underline;
}
.btn-box {
    display: flex;
    justify-content: space-between;
    width: 325px;
}
.facebook-button {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.facebook-button:hover {
    background-color: #022263;
}
.fa-facebook-f {
    color: #fff;
    font-size: 24px;
    padding-right: 18.77px;
    border-right: solid 1px hsla(220, 68%, 11%, 0.1);
}
.facebook-text {
    color: #fff;
    font-size: 16px;
    padding-left: 18px;
}
.google-button {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 35px;
}
.google-button:hover {
    background-color: #AB1F09;
}
.fa-google-plus-g {
    color: #fff;
    font-size: 24px;
    padding-right: 7px;
    border-right: solid 1px hsla(220, 68%, 11%, 0.1);
}
.google-text {
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
}
.or {
    display: block;
    width: 300px;
    margin: 0 auto 11px;
    text-align: center;
    font-size: 14px;
    color: #848484;
}
.or:before,
.or:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #F2F2F2;
}
.or:before {
    left: -5px;
    margin-left: -30%;
}
.or:after {
    left: 5px;
    margin-right: -30%;
}
.input {
    width: 325px;
    margin-bottom: 15px;
    border: solid 1px #F2F2F2;
    border-radius: 4px;
    padding: 15px 20px;
    box-sizing: border-box;
}
.input:focus {
    border: solid 1px #ffffff;
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}
.link-terms {
    color: #3CB878;
    font-size: 14px;
}
.link-terms:hover {
    color: #01813F;
    text-decoration: underline;
}
.checkbox {
    display: none;
}
.handmade-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px #F2F2F2;
    position: relative;
    top: 6px;
    cursor: pointer;
}
.handmade-checkbox::before {
    content: url(../images/checkbox/arrow.svg);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.text-checkbox {
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}
.checkbox:checked + .handmade-checkbox::before {
    opacity: 1;
}
.submit-button {
    margin-top: 20px;
    width: 325px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    padding: 16px 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
.submit-button:hover {
    background-color: #01813F;
}