.image-to-show {
    width: 300px;
    height: 200px;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-to-show.active {
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn {
    width: 80px;
    height: 40px;
}

.btn-start {
    margin-right: 20px;
}