.credits-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 8, 8);
    position: fixed;
    perspective: 600px;
    overflow: hidden;
}
.credits {
    color: rgb(221, 181, 0);
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    width: 80vw;
    position: absolute;
    left: 10vw;
    top: 70vh;
    animation: credits-move 30s linear infinite;
}
.title {
    text-align: center;
}
.text {
    margin-bottom: 50px;
}
@keyframes credits-move {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1.5) rotateX(60deg);
    }
    100% {
        transform: translate3d(0, -100vh, -80vw) scale3d(1, 1, 1.5) rotateX(60deg);
    }
}

