.container {
    background-image: url(../images/background/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding-top: 46px;
    
}
.header {
    display: flex;
    justify-content: space-between;
    width: 1028px;
    margin: 0 auto;
}
.link {
    text-decoration: none;
    color: #fff;
}
.contact-link:hover {
    color: #F26522;;
}
.logo-box {
    display: flex;
}
.logo {
    width: 53px;
    fill: #fff;
}
.logo-link {
    display: flex;
}
.title-box {
    margin: 11px;
}
.first-title {
    font-size: 29px;
    font-weight: 700;
}
.second-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4.5px;
}
.contact-link {
    display: block;
    text-align: end;
    margin-bottom: 18px;
}
.logo-link:hover {
    color: #F26522;
}
.logo-link:hover .logo {
    fill: #F26522;
}
.main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1028px;
    margin: 0 auto;
    margin-top: 22px;
}
.holiday-img {
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    border-image: linear-gradient(to bottom, #fff, #000);
    border-image-slice: 1;
}
.img-name {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 37px;
    text-align: center;
}
.copyright {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding: 15px;
}
.price-form {
    background-color: #F26522;
    color: #fff;
    width: 300px;
    margin: 0 auto;
    position: absolute;
    left: 2px;
    top: 220px;
    transition: 300ms linear;
}
.link-box {
    position: relative;
}
.img-box {
    height: 220px;
    overflow: hidden;
    position: relative;
}
.link-box:hover .price-form {
    display: block;
    top: 163px;
}
.link-box:hover .link-text {
    color: #F26522;
}
.price-form span:first-child {
    display: block;
    font-size: 10px;
    font-weight: 400;
    padding: 7px 16px;
}
.price-form span:nth-child(2) {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 1px 16px 12px;
}
.link-details {
    margin-left: 112px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.link-details:hover {
    color: #fff;
}
.link-details::after {
    content: "";
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-left: 16px;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}