.header-nav-ul {
    padding-left: 330px;
    padding-right: 330px;
}
.header-nav-ul-li {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-indent: 72px;
}
.header-ul-a {
    color: #FF0000;
    text-decoration: none;
}
.main-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-article {
    text-align: center;
}
.main-article-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #373737;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin: 49px 253px 38px 253px;
}
.main-article-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    padding: 0px 67.5px;
}
.button {
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1.8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding: 18px 43px;
    margin-top: 66px;
    margin-bottom: 42px;
}
.footer-title {
    color: #373737;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin: 40px 105px 29px 713px;
}