* {
    box-sizing: border-box;
}
.header {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/Sections-background/section-1-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar {
    width: 100%;
    background-color: #5e5d58a6;
    margin: 0 0 265px;
}
.nav-content-wrapper {
    margin: 0 auto 0 auto;
    padding: 26px 0;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}
.logo-name {
    margin-left: 6px;
}
.name-accent {
    color: #18CFAB;
    font-weight: 700;
}
.nav-menu {
    display: flex;
}
.list-menu {
    display: flex;
}
.item-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.603);
    font-size: 16px;
    font-weight: 700;
    margin-right: 21px;
}
.item-link:hover {
    color: #18CFAB;
}
.fa-search {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.603);
    margin-top: -3px;
    cursor: pointer;
}
.fa-search:hover {
    color: #18CFAB;
}


.header-content {
    text-align: center;
    color: #fff;
}
.header-top-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}
.header-center-title {
    font-size: 78px;
    font-weight: 700;
    margin-bottom: 25px;
}
.header-bottom-title {
    font-size: 34px;
    font-weight: 400;
    color: #D4D4D4;
    margin-bottom: 130px;
}


.header-buttons {
    padding-bottom: 243px;
}
.btn {
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -5px #fff;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.explore-btn {
    background-color: #18CFAB;
    margin-right: 26px;
}
.purchase-btn {
    background-color: #00CBF6;
}
.explore-btn:hover {
    background-color: #2ae7c1;
}
.purchase-btn:hover {
    background-color: #34ddff;
}


.main {
    font-family: 'Montserrat', sans-serif;
}
.options {
    display: flex;
    width: 100%;
    margin-top: 8px;
}
.option {
    width: 25%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 90px;
}
.dark-option {
    background-color: #1C2A33;
    color: #18CFAB;
}
.green-option {
    background-color: #18CFAB;
    color: #fff; 
}
.dark-icon {
    margin: 87px 0 50px;
}
.green-icon {
    margin: 98px 0 60px;
}
.option-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 110px;
}


.service {
    width: 1160px;
    text-align: center;
    margin: 0 auto 91px auto;
    position: relative;
}
.title {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    color: #4E4E4E;
    margin-bottom: 110px;
}
.title::after {
    content: "_____";
    position: absolute;
    top: 35px;
    left: 530px;
    color: #18CFAB;
}
.service-list {
    display: flex;
    justify-content: center;
    color: #717171;
    font-size: 16px;
    margin-bottom: 25px;
}
.service-list::before {
    content: "_____";
    position: absolute;
    font-size: 36px;
    top: 40px;
    left: 545px;
    color: #18CFAB;
}
.service-list-item {
    padding: 27px 39.5px;
    border-top: solid 1px #EDEFEF;
    border-bottom: solid 1px #EDEFEF;
    border-right: solid 1px #EDEFEF;
    position: relative;
    background-color: #F8FCFE;
    cursor: pointer;
}
.item-no-border {
    border-right: none;
}
.service-list-item:hover {
    border: solid 1px #18CFAB;
}
.service-list-item.active {
    border: solid 1px #18CFAB;
    background-color: #18CFAB;
    color: #fff;
}
.service-list-item.active::before {
    content: "L";
    color: #18CFAB;
    font-size: 30px;
    font-weight: 700;
    background-color: #18CFAB;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: -10px;
}
.service-container {
    display: none;
    text-align: start;
}
.service-container.active {
    display: flex;
}
.sevice-img {
    width: 192px;
    height: 139px;
}
.service-description {
    font-size: 16.64px;
    font-weight: 300;
    line-height: 24.37px;
    margin-left: 15px;
}


.purchase-content {
    text-align: center;
    background-image: url(../images/Sections-background/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 127px 0;
}
.purchase-title {
    font-size: 40px;
    font-weight: 700;
    color: #18CFAB;
    margin-bottom: 25px;
}
.purchase-description {
    font-size: 16px;
    font-weight: 400;
    color: #D8D8D8;
    margin-bottom: 70px;
}
.purchase-button {
    background-color: #18CFAB;
}
.purchase-button:hover {
    background-color: #2ae7c1;
}


.content-wrapper {
    position: relative;
    width: 1160px;
    margin: 0 auto 0 auto;
}
.our-work-container {
    position: relative;
    text-align: center;
    background-color: #E9EDEF;
    padding: 100px 0;
}
.work-list {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    margin-bottom: 71px;
}
.work-list::before {
    content: "_____";
    position: absolute;
    font-size: 36px;
    top: 40px;
    left: 545px;
    color: #18CFAB;
}
.work-list-item {
    padding: 27px 15px;
    border-bottom: solid 1px #DADADA;
    border-top: solid 1px #DADADA;
    border-right: solid 1px #DADADA;
    cursor: pointer;
}
.item-border {
    padding: 27px 30px;
    border-left: solid 1px #DADADA;
}
.work-list-item:hover {
    border: solid 1px #18CFAB;
    color: #18CFAB;
}
.work-list-item.active {
    border: solid 1px #18CFAB;
    color: #18CFAB;
}
.work-images-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.creative-design {
    width: 285px;
    height: 211px;
    border-top: solid 1px #DADADA;
    padding-top: 40px;
    cursor: pointer;
}
.chain-box {
    display: inline-block;
    padding: 12px;
    border: solid 1px #8A8A8A;
    border-radius: 50%;
}
.chain {
    fill: #8A8A8A;
}
.square-box {
    padding: 13px 13.6px;
    display: inline-block;
    background-color: #8A8A8A;
    border-radius: 50%;
}
.creatice-design-text {
    font-size: 14.18px;
    font-weight: 700;
    color: #8A8A8A;
    padding: 44px 0 16px;
}
.wd-text {
    font-size: 12.15px;
    font-weight: 300;
    color: #8A8A8A;
}
.creative-design:hover {
    border-top: solid 1px #18CFAB;
}
.creative-design:hover .chain-box {
    border: solid 1px #18CFAB;
}
.creative-design:hover .chain {
    fill: #18CFAB;
}
.creative-design:hover .square-box {
    background-color: #18CFAB;
}
.creative-design:hover .creatice-design-text {
    color: #18CFAB;
}

.work-img {
    width: 285px;
    height: 211px;
    display: none;
}
.work-img.active {
    display: block;
}
.load-more-btn {
    background-color: #18CFAB;
    box-shadow: none;
    display: none;
}
.strong-plus {
    font-size: 25px;
    font-weight: 700;
    margin-right: 15px;
}
.load-more-btn.active {
    display: inline-block;
}
.load-more-btn:hover {
    background-color: #2ae7c1;
}


.breaking-news-container {
    width: 1160px;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    padding: 82px 0 100px;
}
.news-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-content-wrapper::before {
    content: "_____";
    position: absolute;
    font-size: 36px;
    top: 122px;
    left: 545px;
    color: #18CFAB;
}
.news-item-box {
    width: 263px;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}
.date-info {
    width: 70px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    padding: 12px;
}
.news-item-title {
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    padding: 18px;
}
.news-item-comment {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}
.news-item-box:hover .date-info {
    background-color: #18CFAB;
}
.news-item-box:hover .news-item-title {
    color: #18CFAB;
}


.rewiew-container {
    text-align: center;
    margin: 0 auto 0 auto;
    background-image: url(../images/Sections-background/section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 105px;
}
.white-title {
    color: #fff;
}
.show-rewiew-box {
    position: relative;
    height: 380px;
}
.rewiew-wrapper {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.rewiew-wrapper.active {
    opacity: 1;
    transition: opacity 1s;
}
.rewiew-text {
    font-size: 16px;
    font-weight: 300;
    color: #BBBBBB;
    line-height: 30px;
    margin: 36px 0;
}
.rewiewer-name {
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 50px;
}
.r-name-accent {
    font-size: 16px;
    font-weight: 700;
    color: #18CFAB;
}
.rewiewer-photo {
    width: 142px;
    height: 142px;
    border: solid 10px #1fdab533;
    border-radius: 50%;
}
.rewiewers-navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    width: 480px;
    margin: 0 auto 0 auto;
}
.small-rew-photo {
    width: 60px;
    height: 60px;
    border: solid 4px #1fdab533;
    cursor: pointer;
    margin-top: 0;
    transition: margin-top 0.4s;
}
.small-rew-photo:hover {
    margin-top: -15px;
    transition: margin-top 0.4s;
}
.small-rew-photo.active {
    margin-top: -15px;
}
.rew-nav-btn {
    font-size: 15px;
    color: #BBBBBB;
    background-color: #18cfaa00;
    border: solid 1px #BBBBBB;
    cursor: pointer;
}
.rew-nav-btn:hover {
    color: #fff;
    background-color: #18cfab;
    border: solid 1px #18cfab;
}


.footer {
    text-align: center;
    padding: 48px 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #22353F;
}
.footer-text {
    font-size: 14px;
    font-weight: 300;
    color: #AEAEAE;
}
.company-name-accent{
    color: #18cfab;
}