.header {
    width: 1280px;
    margin: 63px auto 48px;
}
.header-title {
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-title-link {
    text-decoration: none;
    color: #000;
}
.header-title-colortext {
    color: #4bcaff;
}
.header-menu {
    width: 1280px;
    margin-top: 38px;
}
.header-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #35444F;
}
.header-menu-item {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: solid 1px #fff;
    background-color: #35444F;
}
.header-menu-link {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 25px 36px 20px 36px;
}
.header-menu-link:hover {
    background-color: #222F3A;
}
.main {
    width: 1280px;
    margin: 48px auto 51px;
    display: flex;
    justify-content: space-between;
}
.main-menu-link {
    text-decoration: none;
    color: #485863;
    line-height: 80px;
    padding-left: 45px;
    display: block;
}
.main-menu-link:hover {
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: 80px;
}
.main-menu-list {
    border: solid 1px #000;
    width: 344px;
}
.main-menu-item {
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content {
    margin-left: 52px;
}
.content-box-img {
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
}
.img-in-box:hover {
    transform: scale(1.2);
    transition: 1s;
}
.main-content {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2C2C2C;
}
.main-text {
    margin: 35px auto;
}
.footer {
    width: 1280px;
    background-color: #63696e70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 30px;
}
.footer-menu-list {
    padding-left: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-menu-item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
}
.footer-menu-link {
    text-decoration: none;
    color: #010101;
    padding-right: 28px;
    display: block;
    line-height: 62px;
}
.footer-menu-link:hover {
    color: #3181A6;
    border-bottom: solid 1px #3181A6;
}
.footer-copyright {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding-right: 40px;
    line-height: 70px;
}